/* 
this content is stored in a file named "site.css" 
in a directory named "css" in the web root 
*/

.centerButton {
	text-align: center;
}

.autoMargin {
	margin-left: auto;
	margin-right: auto;
}

.bottomMargin{
	margin-bottom: 50px;
}
.main-content {
	margin-top: 90px;
	padding-top: 20px;
}

.shadow{
	text-shadow: 2px 0px 25px #000;
}

.whiteletters{
	color: #FFF;
}

#fancy{
    color: #FFF;
}

#codeup{
	color: #0F0;
}