/* 
this content is stored in a file named "whack.css" 
in a directory named "css" in the web root 
*/
.mole-hole {
	height: 150px;
	width: 150px;
	border: solid 3px #000;
	background-color: #FFF;
	float: left;
}

.container {
	margin: 0px auto 50px auto;
	padding-bottom: 20px;
	width: 800px;
}

.gameboard {
	margin: auto;
	width: 468px;
	cursor: url('../img/hammer.png'), auto;
}

.scorebox {
	height: 50px;
	width: 100px;
	border: solid 3px #000;
	background-color: #FFF;
	float: left;
	text-align: center;
	font-size: 30px;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

#buttonDiv {
	margin-top: 50px;
}

#shade {
	background-color: #FFF;
	margin-bottom: 200px;
	
}

img {
	height: 150px;
	width: 150px;
	display: none;
}

h1 {
	color: #F00;
	text-align: center;
	font-size: 60px;
	margin-bottom: 10px;
	font-family: sans-serif;
}

h2 {
	text-align: center;
	font-size: 60px;
	margin-bottom: 10px;
	display: none;
	color: #F00;
	font-family: sans-serif;
	
}

h3 {
	color: #000;
	text-shadow: 10px 2px 10px #FFF;
	height: 18px;
	width: 150px;
	float: left;
	font-size: 30px;
	margin-top: 2px;
	text-align: right;
}

button {
	height: 50px;
	margin-left: 50px;
	margin-top: 50px;
	background-color: #F00;
	font-size: 14px;
	float: left;
}

body {
	background-image: url('../img/GuacamoleBackground.jpg');
	background-size:1200px 950px;
	background-repeat:  no-repeat;
	opacity: .9;
}