/* 
this content is stored in a file named "whack.css" 
in a directory named "css" in the web root 
*/
.mole-hole {
	height: 150px;
	width: 150px;
	border: solid 3px #000;
	background-color: #FFF;
	float: left;
}

.clickable {
	cursor: pointer;
}

.gameboard {
	margin: auto;
	width: 468px;
}

img {
	height: 150px;
	width: 150px;
	display: none;
}

h1 {
	color: #F00;
	text-align: center;
	font-size: 60px;
}