/* 
this content is stored in a file named "whack.css" 
in a directory named "css" in the web root 
*/
.mole-hole {
	height: 150px;
	width: 150px;
	border: solid 3px #000;
	background-color: #FFF;
	float: left;
}

.container {
	margin: 0px auto 50px auto;
	padding-bottom: 20px;
	width: 800px;
}

.clickable {
	cursor: pointer;
}

.gameboard {
	margin: auto;
	width: 468px;
	position: relative;
}

.scorebox {
	height: 50px;
	width: 100px;
	border: solid 3px #000;
	background-color: #FFF;
	float: left;
	text-align: center;
	font-size: 30px;
	margin-right: 12px;
	margin-left: 12px;
}

#buttonDiv {
	position: absolute;
	left: 50px;
	top: 100px;
	width: 180px;
}

img {
	height: 150px;
	width: 150px;
	display: none;
}

h1 {
	color: #F00;
	text-align: center;
	font-size: 60px;
	margin-bottom: 10px;
}

h2 {
	width: 468px;
	text-align: center;
	display: none;
}

h3 {
	height: 15px;
	width: 100px;
	float: left;
	margin-top: 2px;
	text-align: left;
}

button {
	height: 50px;
	margin-top: 20px;
	background-color: #F00;
	font-size: 14px;

}

body {
	background-image: url('../img/desertRest.jpeg');
	background-size:1000px 1000px;
	background-repeat:  no-repeat;
}